{% extends "blog/welcome.html" %}
{% load staticfiles %}

{% block wel_text %}
    <div style="width: 100%; height: 160px; margin-top: 100px; ">
        <h1 style="text-align: center;">Welcome to TANGBLOG !</h1>
        <h3 style="text-align: center">Please select the documents you need. :)</h3>
    </div>
{% endblock %}

{% block container %}
    <div class="normBox">
		<div class="listBox fltlft">
			<ul class="list-unstyled">
				<li class="listTitle textCenter">Category ranking</li>
                {% for cata in cata_list %}
                    <a href="/blog/python/?catagoryname={{ cata.name }}"><li class="listItem textCenter a">{{ cata.name }}({{ cata.count }})</li></a>
                {% endfor %}
			</ul>
		</div>
		<div class="listBox fltlft ml57">
			<ul class="list-unstyled">
				<li class="listTitle textCenter">Recent update</li>
				{% for rece in recent_list %}
                    <a href="/blog/get_blog/?id={{ rece.id }}"><li class="listItem textCenter a">{{ rece.title }}</li></a>
                {% endfor %}
			</ul>
		</div>
		<div class="listBox fltlft ml57">
			<ul class="list-unstyled">
				<li class="listTitle textCenter">Hot articles</li>
				{% for hot in hot_list %}
                    <a href="/blog/get_blog/?id={{ hot.id }}"><li class="listItem textCenter a">{{ hot.title }}</li></a>
                {% endfor %}
			</ul>
		</div>
		<div class="clearfloat"></div>
		<div style="height:0px">&nbsp;</div>
    </div>
    <div class="varea">
		<div class="copyright enFont fltrt">
			<span>Designed by <b><i>Tangxl</i></b> | Copyright 2016 - 2016 <b><i>TANGXUELIN</i> Project</b></span>
		</div>
		<div class="clearfloat"></div>
	</div>

{% endblock %}